<div class="page">
  <div class="ImageHome"></div>
</div>


  <footer>
    <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Be9 Bank</a>  </p>
      <div class="footer-menu">
          <ul class="f-menu">
          <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
          <li><a [routerLink]="['/termos']" routerLinkActive="active">Termos de uso App</a></li>
          <li><a [routerLink]="['/termos1']" routerLinkActive="active">Termos de uso Web</a></li>
          <li><a [routerLink]="['/politicadeprivacidade']" routerLinkActive="active">Políticas de privacidade</a></li>
        </ul>
      </div>
    </div>
  
  </footer>